/*home*/
.judul{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 2vw;
    font-family: Muli Regular;
}
.content1 {
    position: absolute;
    width: 98%;
    /*        height: 100%;*/
    top: 250px;
    text-align: center;
}
.content2 {
    position: absolute;
    width: 98%;
    /*        height: 100%;*/
    top: 400px;
    text-align: center;
}
.content3 {
    position: absolute;
    width: 98%;
    /*        height: 100%;*/
    top: 550px;
    text-align: center;
}
.content4 {
    position: absolute;
    width: 98%;
    /*        height: 100%;*/
    top: 700px;
    text-align: center;
}
.content5 {
    position: absolute;
    width: 98%;
    /*        height: 100%;*/
    top: 850px;
    text-align: center;
}
.content6 {
    position: absolute;
    width: 98%;
    /*        height: 100%;*/
    top: 1000px;
    text-align: center;
}
button{
    background-color: lightgrey;
    width: 50px;
    height: 115px;
}
.button {
    background-color: transparent;
    width: 300px;
    height: 120px;
    font-size: 30px;
    font-family: Muli Regular;
    border: 4px solid white;
    border-radius: 15px;
    color: white;
}
.button:hover, .button:focus {
    color: #fff;
    outline: 0;
    background-color: red;
    cursor: pointer;
}
.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

