* {
    font-family: "Muli Regular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #03401d;
    --green2: rgb(255 255 255 / 11%);
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --yellow: #ffc107;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

marquee {
    min-height: 10px;
    width: 100%;
    color: var(--green);
    font-size: 30px;
    font-family: "Muli Bold";
    margin-left: auto;
    background: var(--yellow);
}


/* body:before {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.formContent {
    /* background-color: var(--green); */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    box-shadow: -1px 4px 28px 0px var(--black1);
    border-radius: 10px;
}

.avatarImg {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px / 2);
    left: calc(50% - 40px);
}

.formContent h2 {
    margin: 0;
    padding: 0 0 20px;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-family: "Muli Bold";
}

.formContent label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: var(--white);
}

.formContent input {
    width: 100%;
    margin-bottom: 20px;
}

.formContent input[type="text"],
.formContent input[type="password"],
.formContent input[type="email"] {
    border: none;
    border-bottom: 1px solid var(--white);
    background: transparent;
    outline: none;
    height: 20px;
    color: var(--white);
    font-size: 16px;
    margin-top: 3px;
}

.formContent input[type="submit"] {
    color: var(--black1);
    font-size: 16px;
    background: var(--white);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--black1);
    /* outline: none; */
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}

.formContent input[type="submit"]:hover {
    color: var(--green);
    background: var(--yellow);
}